/* /* .form {
    display: flex; 
    flex-direction: column; 
    width: 80vw; 
    margin-left: 18%;
}

.name {
    margin: 2% 0;
    border-radius: 2%;
    width: 30%;
    display: flex;
    flex-direction: row;
} */

/* @import url(https://fonts.googleapis.com/css?family=Cookie|Raleway:300,700,400); */
*{
	box-sizing: border-box;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

body{
	background-size: cover;
	color: #333;
	font-size: 18px;
	/* font-family: 'Raleway', sans-serif; */
}
.container{
	border-radius: 0.5em;
	box-shadow: 0 0 1em 0 rgba(51,51,51,0.25);
	display: block;
	max-width: 480px;
	overflow: hidden;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 2em;
	position: absolute;
		top: 50%;
		left: 50%;
		z-index: 1;
	width: 98%;
}
.container:before{
	background: url('http://tfgms.com/sandbox/dailyui/bg-1.jpg') center no-repeat;
	background-size: cover;
	content: '';
	-webkit-filter: blur(10px);
	filter: blur(10px);
	height: 100vh;
	position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100vw;
}
.container:after{
	background: rgba(255,255,255,0.6);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
	width: 100%;
}

span.label-text {
	font-family: 'Futura', 'Open Sans', 'sans-serif';
}
.registration-form button.submit{
	background: rgba(255,255,255,0.25);
	border: 1px solid #333;
	line-height: 1em;
	padding: 0.5em 0.5em;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.registration-form button:hover,
.registration-form button:focus,
.registration-form button:active,
.registration-form button.loading{
	background: #333;
	color: #fff;
	outline: none;
}
.registration-form button.success{
	background: #27ae60;
	border-color: #27ae60; 
	color: #fff;
}
@-webkit-keyframes spin{
	from{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}
@keyframes spin{
	from{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}
.registration-form button span.loading-spinner{
	-webkit-animation: spin 0.5s linear infinite;
	animation: spin 0.5s linear infinite;
	border: 2px solid #fff;
	border-top-color: transparent;
	border-radius: 50%;
	display: inline-block;
	height: 1em;
	width: 1em;
}

.registration-form label{
	border-bottom: 1px solid #333;
	display: block;
	font-size: 1.25em;
	margin-bottom: 0.5em;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.registration-form label.col-one-half{
	float: left;
	width: 50%;
}
.registration-form label.col-one-half:nth-of-type(even){
	border-left: 1px solid #333;
	padding-left: 0.25em;
}
.registration-form label input{
	background: none;
	border: none;
	line-height: 1em;
	font-weight: 300;
	padding: 0.125em 0.25em;
	width: 100%;
}
.registration-form label input:focus{
	outline: none;
}
.registration-form label input:-webkit-autofill{
	background-color: transparent !important;
}
.registration-form label span.label-text{
	display: block;
	font-size: 0.5em;
	font-weight: bold;
	padding-left: 0.5em;
	text-transform: uppercase;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.registration-form label.checkbox{
	border-bottom: 0;
	text-align: center;
}
.registration-form label.checkbox input{
	display: none;
}
.registration-form label.checkbox span{
	font-size: 0.5em;
}
.registration-form label.checkbox span:before{
	content: '\e157';
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	font-size: 1.125em;
	padding-right: 0.25em;
	position: relative;
		top: 1px;
}
.registration-form label.checkbox input:checked + span:before{content: '\e067';}
.registration-form label.invalid{border-color: #c0392b !important;}
.registration-form label.invalid span.label-text{color: #c0392b;}
.registration-form label.password{position: relative;}
.registration-form label.password button.toggle-visibility{
	background: none;
	border: none;
	cursor: pointer;
	font-size: 0.75em;
	line-height: 1em;
	position: absolute;
		top: 50%;
		right: 0.5em;
	text-align: center;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}
.registration-form label.password button.toggle-visibility:hover,
.registration-form label.password button.toggle-visibility:focus,
.registration-form label.password button.toggle-visibility:active{
	color: #000;
	outline: none;
}
.registration-form label.password button.toggle-visibility span{vertical-align: middle;}

h1{
	font-size: 3em;
	margin: 0 0 0.5em 0;
	text-align: center;
	font-family: 'Cookie', cursive;
}
h1 img{
	height: auto;
	margin: 0 auto;
	max-width: 240px;
	width: 100%;
}
html{
	font-size: 18px;
	height: 100%;
}

.text-center{
	text-align: center;
}