/* @import url(https://fonts.googleapis.com/css?family=Cookie|Raleway:300,700,400); */
*{
	box-sizing: border-box;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

.main-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-register{
	border-radius: 5px;
	background-color: #FFF;
	max-width: 35rem;
	min-height: 40vh;
	padding: 2em;
	width: 100%;
	filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

span.label-text {
	font-family: 'Futura', 'Open Sans', 'sans-serif';
	margin-bottom: .5rem;
	margin-right: 1rem;
}

.registration-form .btnAdd{
	margin-top: 1.5rem;
}

.registration-form label{
	display: block;
	font-size: 1.25em;
	margin-bottom: 0.5em;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
}

.registration-form label input{
	display: flex;
	width: 100%;
	height: 1.875rem;
	border: 1px solid var(--linear-two);
	background-color: #e5e0ff;
	border-radius: 5px;
	font-size: 15px;
	padding-left: 1rem;
}

.registration-form label span.label-text{
	display: block;
	font-size: 1rem;
	font-weight: bold;
}

.registration-form label.checkbox span:before{
	content: '\e157';
	display: inline-block;
	font-family: 'Futura PT';
	font-size: 1.125em;
	padding-right: 0.25em;
	position: relative;
		top: 1px;
}

.h1-register{
	font-size: 3em;
	margin: 0 0 0.5em 0;
	text-align: center;
	font-family: 'Lobster', cursive;
	color: var(--linear-one);
	font-weight: 400;
}

html{
	font-size: 18px;
	height: 100%;
}

.text-center{
	display: flex;
}

input[type="file"i] {
	padding: .3rem;
}

